<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/auth.css">
</head>
<body>

<div
    id="flash-container"
    class="{{FLASH_CLASS}}"
>
    {{FLASH_MESSAGE}}
</div>

<script>
    const flashContainer = document.getElementById("flash-container");

    if (flashContainer && flashContainer.textContent.trim() !== "") {
        setTimeout(() => {
            flashContainer.remove();
        }, 3000);
    }
</script>

<h1>File Manager</h1>

<a href="/login">
    Login
</a>

<br>

<a href="/register">
    Register
</a>


</body>

</html>